/*
    Edit:   Sergio Bravo;
*/

    body>div
    {
        display: grid;
        grid-template-columns: 30% 70%;
    }
    main {
        padding: 100px;
    }
    article {
        padding: 100px;
        margin-top: 0px;
        margin-bottom: 70px;
    }
