/*
    Edit:   Sergio Bravo;
*/
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');

*
{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Lora', serif;
}

hr
{
	border-color: white;
}

ul
{
	list-style-type:none;
}

a
{
	text-decoration: none;
}

%parrafo
{
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	padding: 10px 0;
}

%principal {
	background-color: $azul;
	padding: 40px 25px;
	text-align: right;
}

%h2cabecera{
	text-align: left;
	padding: 10px 0;
	padding-bottom: 90px;
}

%article
{
	padding: 25px;
	background-color: $blanco;
	text-align: center;
	margin-top: 20px;
}

header 
{
 	@extend %principal;
	h1
	{
		a{
			padding-bottom: 80px;
			color: #FAEBD7;
		}		
	}
	nav
	{
		a,
		a:visited
		{
			color: #FAEBD7;
		}
		a:active,
		a:hover
		{
			color: #DEB887;
			text-decoration: underline;
		}
		ul
		{
			li
			{
				padding: 10px;
				font-family: Helvetica, Arial, sans-serif;
			}
		}
	}
}

main
{
	padding: 15px;
	background-color:  $ocreFuerte;
	article
	{
		@extend %article;
		.post-date
		{
			text-align: left;
			font-family: Helvetica, Arial, sans-serif;
			color: #818181;
		}
	}
}

img
{
	width: 70%;
}

section.post-content
{
	h2
	{
		@extend %h2cabecera;
		a:active,
		a:hover
		{
			color: $azul;
			text-decoration: underline;
		}
		h2 a,
		h2 a:visited
		{
			color: black;
		}
	}
	p
	{
		@extend %parrafo;
		a:active,
		a:hover
		{
			color: $ocre;
			text-decoration: underline;
		}
		a,
		a:visited
		{
			color: $azul;
		}
	}
}