/*
    Edit:   Sergio Bravo;
*/
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');

*
{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Lora', serif;
}

hr
{
	border-color: white;
}

ul
{
	list-style-type:none;
}

a
{
	text-decoration: none;
}

p
{
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
}
header
{
	background-color: #6495ED;
	padding: 40px 25px;
	text-align: right;
}

header 
{
	h1
	{
		a{
			padding-bottom: 80px;
			color: #FAEBD7;
		}		
	}
	nav
	{
		a,
		a:visited
		{
			color: #FAEBD7;
		}
		a:active,
		a:hover
		{
			color: #DEB887;
			text-decoration: underline;
		}
		ul
		{
			li
			{
				padding: 10px;
				font-family: Helvetica, Arial, sans-serif;
			}
		}
	}
}

main
{
	padding: 15px;
	background-color:  $ocreFuerte;
}

article
{
	padding: 25px;
	background-color: $blanco;
	text-align: center;
	margin-top: 20px;
}

img
{
	width: 70%;
}

.post-date,
section.post-content h2,
section.post-content p
{
	text-align: left;
}

.post-date
{
	font-family: Helvetica, Arial, sans-serif;
	color: #818181;
}

section.post-content h2,
section.post-content p
{
	padding: 10px 0;
}

section
{
	.post-content h2
	{
		padding-bottom: 90px;
	}
}

section.post-content p a,
section.post-content p a:visited
{
	color: $azul;
}

section.post-content p a:active,
section.post-content p a:hover
{
	color: $ocre;
	text-decoration: underline;
}

section
{
	.post-content
	{
		h2
		{
			a:active,
			a:hover
			{
				color: $azul;
				text-decoration: underline;
			}
			h2 a,
			h2 a:visited
			{
				color: black;
			}
		}
	}
}
