/*
    Edit:   Sergio Bravo;
*/
@media only screen and (min-width: 80em) /*== 1280px*/
{
    body>div
    {
        display: grid;
        grid-template-columns: 30% 70%;
    }
    main {
        padding: 100px;
    }
    article {
        padding: 100px;
        margin-top: 0px;
        margin-bottom: 70px;
    }
}